#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body {

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #211b1b;
  //background-image: url('https://wallpaperbat.com/img/190841753-food-black-background-vector-art-icon-and-graphics-for-free-download.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;


}


